{% extends "portfolio/base.html" %}

{% load static %}

{% block content %}
<div id="allblogscontainer" data-aos="fade-up" data-aos-delay="100">

  <br>
  <h1 id="allblogstitle" class="font-weight-bold text-center">Academic Projects</h1>


  {% for exp in experiences %}
  <br><br>
  <div class="row justify-content-center my-3">
    <div class="col-md-10">

      <a href="{% url 'experience:experience_detail' exp.id %}" id="jobtitle">
        <h2 id="jobtitle"> {{ exp.title }}
      </a>

      <h5>Backend</h5>
      <h6 id='datedate'> {{ exp.backend }}</h6>
      <br>
      <h5>Frontend</h5>
      <h6 id='datedate'>{{ exp.frontend}}</h6>
      
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}