<style>
#blueul {
  list-style: none;
}

#blueul li::before {
   content: "\2022";
   color: #007bff;
   font-weight: bold;
   display: inline-block;
   width: 1em;
   margin-left: -1em;
}
</style>
<center><h4 class="text-center mt-5" style="color:#007bff">Roles and Responsibilities</h4></center>
<br>
<ul id='blueul'>
   <li>Responsible for gathering requirements, system analysis, design, development, testing and deployment.</li>

   <li>Build a product details page with price, description, model and other details for users in a car rental company project.</li>

   <li>Involved in Business logic implementation, data exchange, XML processing and web page using Python and Django.</li>

   <li>Experience with MVC architecture using Django for web-based application in OOP concepts.</li>

   <li>Used web applications development using Django/Python, Flask/python, jQuery while using HTML5/CSS3 for server-side rendered application.</li>

   <li>Worked with APIs to surface curated recommendations to users and an admin panel to manage curator recommendations.</li>

   <li>Improved conversions by improving website load times, implementing new features, optimizing backend infrastructure and client performance.</li>

   <li>Build, manage, and continuously improve the build infrastructure for the software development engineering teams, including
      implementing build scripts, continuous integration infrastructure, and deployment tools.</li>

   <li>Utilized Python packages like NumPy, Matplotlib, SciPy, and Pandas for data analysis, visualization and business logic implementation.</li>

   <li>Used Pandas library for statistics Analysis.</li>

   <li>Identified and resolved bugs and issues that were escalated to engineers.</li>

   <li>Developed SQL Queries, Stored Procedures, and Triggers Using Oracle, SQL and PL/SQL.</li>

   <li><strong>ENVIRONMENT:</strong> Python, Django, Flask, SQL, Web Development</li>

</ul>
